.action-button {
    border:0;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    color: var(--color-white);
    background-color: var(--color-primary);
    height: var(--action-height);
    padding: 0 8px;
    border-radius: 2px;
    transition: all .2s ease-in-out;
}

.action-button:not(.disabled):hover {
    opacity: 0.95;
    cursor: pointer;
    transform: scale(1.05);
}

.action-button svg {
    height: 16px;
    width: 16px;
    margin-right: 8px;
    stroke: var(--color-white);
    fill: var(--color-white);
}

.action-button.disabled {
    opacity: 0.30;
}